@import "tailwindcss";

:root {
  --background: #030014;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}